:root {
    --bg: #dadadb;
    --dark: #dac5a5;
    --dark-sea: #576067;
    --grey: #c4bfbf;
    --white: #fff;
    --violet: #85c1e4;
    --violet-dark: #6c3eb8;
    --light: #f6f6f7;
    --sea: #616e74;
  }
